.add-plan {
  padding: 25px;
  border-radius: 30px;
  background-color: #d4d9eb;
}

.add-plan__section-title {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.add-plan__list {
  @include list;
}

.add-plan__step {
  padding: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #ffffff;
}

@media (min-width: $tablet) {
  .add-plan {
    padding: 25px 75px;
  }

  .add-plan__section-title {
    font-size: 36px;
    line-height: 50px;
  }

  .add-plan__list {
    margin: auto;
    max-width: 660px;
  }
}

@media (min-width: $desktop) {
  .add-plan__content {
    @include container;
  }

  .add-plan__list {
    max-width: none;
  }
}
