.calendar {
  padding: 21px 4px;
}

.calendar__title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-bottom: 1px solid #cbced9;
  border-top: 1px solid #cbced9;
}

.calendar__btn {
  padding: 0 1px;
  width: 30px;
  height: 42px;
  background-image: url("../img/month-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-origin: content-box;
  background-size: 9px 18px;
  border: none;
  background-color: transparent;
  opacity: 0.3;

  &--after {
    background-position: center right;
    background-image: url("../img/month-arrow-right.svg");
  }
}

.calendar__month {
  margin: 0;
  padding-top: 12px;
  padding-left: 1px;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.calendar__table {
  width: 99.5%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}

.calendar__table-body {
  border: 1px solid #cbced9;
}

.calendar__day {
  width: 30px;
  height: 31px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  &--red {
    color: #ff5c23;
  }
}

.calendar__day-more {
  display: none;
}

.calendar__row:not(:last-child) {
  border-bottom: 1px solid #cbced9;
}

.calendar__content {
  width: 30px;
  height: 31px;
  opacity: 0.3;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  &:not(:last-child) {
    border-right: 1px solid #cbced9;
  }

  &--available {
    background-color: #edeff6;
    opacity: 1;
  }

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
    opacity: 1;
  }

  &--focus {
    border: 2px solid #ff5c23;
  }
}

.calendar__input {
  display: none;
}

@media (min-width: $tablet) {
  .calendar {
    padding: 38px 3px 45px;
  }

  .calendar__btn {
    width: 80px;
    height: 85px;
    padding: 2px 15.5px 0;
    background-size: 19px 34px;
  }

  .calendar__title-box {
    margin: 0 20px 33px;
    align-items: center;
  }

  .calendar__month {
    padding-top: 8px;
    padding-left: 0;
    letter-spacing: -0.2px;
    font-size: 36px;
  }

  .calendar__btn-arrow {
    width: 19px;
    height: 34px;
  }

  .calendar__day {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.8px;
    text-transform: none;
  }

  .calendar__day-more {
    display: inline;
  }

  .calendar__content {
    width: 77px;
    height: 69px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;

    &--focus {
      border: 4px solid #ff5c23;
    }
  }

  .calendar__table {
    width: 92.8%;
  }
}
