.catalog-page__title-box {
  padding-top: 85px;
  border-radius: 0 0 20px 20px;
  background-color: #161c35;
}

.catalog-page__link-home {
  display: none;
}

.catalog-page__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
  padding-bottom: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;


  &::after {
    content: "";
    width: 173px;
    height: 5px;
    margin-top: 15px;
    border-radius: 2px;
    background-color: #ff8d30;
  }
}

.catalog-page__content {
  padding: 25px 25px 46px;
}

.catalog-page__select-travelmates {
  padding: 20px;
}

@media (min-width: $tablet) {
  .catalog-page__title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 130px 25px 0;
  }

  .catalog-page__link-home {
    display: block;
    padding-right: 40px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    background-image: url("../img/return.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }

  .catalog-page__title {
    font-size: 60px;
    line-height: 70px;

    &::after {
      width: 287px;
      height: 8px;
    }
  }
}

@media (min-width: $desktop) {
  .catalog-page__content {
    display: flex;
  }

  .catalog-page__select-travelmates {
    order: 1;
  }
}
