.contacts__link {
  display: flex;
  align-items: center;
  color: #192144;
  font-weight: 700;
  text-decoration: none;

  &--email {
    text-transform: uppercase;
  }
}

.contacts__icon {
  width: 45px;
  height: 45px;
  margin-right: 16px;
  padding: 13px;
  background-color: #121936;
  border-radius: 50%;
  background-image: url("../img/contacts-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;

  &--email {
    background-image: url("../img/contacts-mail.svg");
  }
}

.contacts__link-text {
  margin: 0;
  padding-top: 9px;

  &--email {
    padding-top: 5px;
    letter-spacing: 0.15px;
  }
}

@media (min-width: $tablet) {
  .contacts__link {
    font-size: 28px;
    line-height: 28px;
  }

  .contacts__icon {
    width: 68px;
    height: 68px;
    margin-right: 23px;
    padding: 21px;
  }
}

@media (min-width: $desktop) {
  .contacts {
    display: flex;
  }

  .contacts__link-text {
    display: none;
  }

  .contacts__icon {
    width: 45px;
    height: 45px;
    margin: 0;
    padding: 13px;
    background-color: #ff8d30;
    background-image: url("../img/topmenu-phone.svg");

    &--email {
      background-color: #ffbd30;
      background-image: url("../img/topmenu-mail.svg");
    }
  }
}
