.countries {
  position: relative;
  z-index: 2;
  padding: 52px 25px 29px;
  background-color: #edeff6;
  border-radius: 0 0 30px 30px;
}

.countries__section-description {
  padding-left: 25px;
  padding-right: 45px;
}

.countries__section-title {
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.countries__section-text {
  margin-bottom: 59px;
  color: #444444;
  font-weight: 300;
}

.countries__list {
  @include list;
}

.countries__item {
  margin-bottom: 10px;
}

.countries__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.countries__description {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -18px;
  padding: 24px 24px 22px;
  background-color: #ffffff;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 25px;
    width: 35px;
    height: 24px;
    background-image: url("../img/flag.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
  }
}

.countries__title {
  flex-basis: 50%;
  margin: 0;
  color: #161c35;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.countries__text {
  order: 2;
  flex-basis: 100%;
  margin: 0;
  margin-top: -4px;
  padding-left: 1px;
  opacity: 0.3;
  color: #444444;
  font-weight: 500;
  line-height: 18px;

  &--count {
    order: 1;
    flex-basis: 10%;
    padding-left: 20px;
    margin: 0;
    line-height: 30px;
    text-transform: uppercase;
    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: 3px 8px;
  }
}

.countries__btn {
  margin-top: 27px;
  background-image: url("../img/triangle-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-origin: content-box;
}

@media (min-width: $tablet) {
  .countries {
    padding: 35px 25px 0;
    border-radius: 0 0 60px 60px;
  }

  .countries__content {
    padding: 0 23px 80px;
    background-image: url("../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 15px top 8px;
  }

  .countries__section-title {
    margin-bottom: 58px;
    font-size: 45px;
    line-height: 45px;
    letter-spacing: -0.1px;
  }

  .countries__section-text {
    padding: 0 250px 0 2px;
    font-size: 28px;
    line-height: 33px;
  }

  .countries__list {
    padding: 45px 27px 39px;
  }

  .countries__item {
    display: flex;
  }

  .countries__img-box {
    width: 30%;
    order: 1;
  }

  .countries__img {
    display: block;
    border-radius: 0 20px 20px 0;
  }

  .countries__description {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    margin-top: 0;
    padding: 32px 24px 16px 29px;
    border-radius: 20px 0 0 20px;

    &::before {
      top: 16px;
      left: auto;
      right: -35px;
      width: 70px;
      height: 47px;
    }
  }

  .countries__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 24px;
  }

  .countries__text {
    margin: 0;
    font-size: 20px;
    line-height: 17.68px;

    &--2 {
      letter-spacing: -0.2px;
    }

    &--count {
      order: 2;
      margin-top: auto;
      padding: 5px 0 5px 30px;
      background-size: 20px 20px;
      background-position: 0 0;
    }
  }

  .countries__btn {
    width: 92%;
    margin: auto;
    padding: 29px 35px 29px 33px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

@media (min-width: $desktop) {
  .countries__content {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .countries__section-description {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 0 70px;
  }

  .countries__section-text {
    margin-bottom: 70px;
  }

  .countries__list {
    order: -1;
    flex-basis: 559px;
    flex-grow: 1;
  }

  .countries__btn {
    flex-basis: 274px;
    margin-right: 274px;
    margin-top: -70px;
  }
}
