.country-popup {
  position: relative;
}

.country-popup__box {
  display: none;
}

.country-popup__title {
  padding: 11px;
  margin: 0;
  margin-bottom: 25px;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  border-radius: 4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;

  &--open {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &--open ~ .country-step__del-btn {
    display: none;
  }
}

.country-popup__country-litter {
  width: 220px;
  padding: 0;
}

.country-popup__country-select {
  box-shadow: 0 20px 50px rgba(29, 46, 91, 0.1);
  border-radius: 0 0 10px 10px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
}

@media (max-width: $no-js) {
  .country-popup--no-js {
    .country-popup__open-btn {
      display: none;
    }

    .country-popup__box {
      position: static;
      display: block;
      min-height: 0;
      width: 100%;
      padding-top: 25px;
    }
  }
}
