.country-litter {
  @include list;
  margin: auto;
  margin-right: 24px;
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.country-litter__item {
  margin-top: -1px;
  margin-left: -1px;
}

.country-litter__link {
  @include center-flex;
  width: 45px;
  height: 42px;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cbced9;

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

@media (min-width: $tablet) {
  .country-litter {
    max-width: 410px;
  }

  .country-litter__item {
    margin-bottom: 42px;
    flex-basis: 19.1%;
  }

  .country-litter__link {
    width: auto;
    color: #192144;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
    border: none;
    opacity: 0.2;

    &--active {
      opacity: 1;
    }
  }
}
