.country-litter {
  @include list;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.country-litter__link {
  display: block;
  padding: 11px;
  width: 44px;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cbced9;

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

@media (min-width: $tablet) {
  .country-litter {
    max-width: 410px;
  }

  .country-litter__item {
    @include center-flex;
    flex-basis: 80px;
    margin-bottom: 15px;
  }

  .country-litter__link {
    width: auto;
    color: #192144;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    background-color: transparent;
    border: none;
    opacity: 0.2;

    &--active {
      opacity: 1;
    }
  }
}
