.country-patch {
  @include list;
  padding: 37px 50px 25px;
}

.country-patch__link {
  opacity: 0.3;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;

  &--active {
    opacity: 1;
  }
}

@media (min-width: $tablet) {
  .country-patch {
    display: flex;
    padding: 0;
  }

  .country-patch__item {
    margin-right: 20px;
  }

  .country-patch__link {
    font-size: 20px;
    line-height: 24px;
  }
}
