.country-popup {
  position: relative;
}

.country-popup__box {
  display: none;

  &--open {
    display: block;
  }
}

.country-popup__title {
  padding: 11px;
  margin: 0;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  border-radius: 4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 17px;
    right: 49px;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    border-radius: 50%;
  }

  &--open {
    color: #ffffff;
    background-color: #1d2e5b;

    &::before {
      display: none;
    }

    .country-step__select--3 {
      display: none;
    }
  }

  &--open ~ .country-step__del-btn {
    display: none;
  }
}

.country-popup__country-litter {
  width: 220px;
  padding: 0;
}

.country-popup__country-select {
  padding: 55px 19px 15px;
  box-shadow: 0 20px 50px rgba(29, 46, 91, 0.1);
  border-radius: 0 0 10px 10px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
}

@media (max-width: $no-js) {
  .country-popup--no-js {
    .country-popup__open-btn {
      display: none;
    }

    .country-popup__box {
      position: static;
      display: block;
      min-height: 0;
      width: 100%;
    }
  }
}
