.countries {
  padding: 52px 25px;
  background-color: #edeff6;
}

.countries__section-description {
  padding-left: 25px;
  padding-right: 45px;
}

.countries__section-title {
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.countries__section-text {
  margin-bottom: 59px;
  color: #444444;
  font-weight: 300;
}

.countries__list {
  @include list;
}

.countries__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.countries__description {
  position: relative;
  z-index: 2;
  margin-top: -15px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
}

.countries__title {
  color: #161c35;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.countries__text {
  opacity: 0.3;
  color: #444444;
  font-weight: 500;
  line-height: 18px;

  &--count {
    line-height: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: $tablet) {
  .countries__content {
    padding: 50px 50px 80px;
  }

  .countries__section-title {
    font-size: 45px;
    line-height: 45px;
  }

  .countries__section-text {
    max-width: 340px;
    font-size: 28px;
    line-height: 33px;
  }

  .countries__item {
    display: flex;
    margin-bottom: 10px;
  }

  .countries__img {
    order: 1;
  }

  .countries__description {
    flex-grow: 2;
  }

  .countries__title {
    margin: 0;
  }

  .countries__text {
    margin: 0;
  }
}

@media (min-width: $desktop) {
  .countries__content {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .countries__section-description {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 0 70px;
  }

  .countries__section-text {
    margin-bottom: 70px;
  }

  .countries__list {
    order: -1;
    flex-basis: 559px;
    flex-grow: 1;
  }

  .countries__btn {
    flex-basis: 274px;
    margin-right: 274px;
    margin-top: -70px;
  }
}
