.country-popup {
  position: relative;
}

.country-popup__box {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  z-index: 10;
  width: 100%;

  &--open {
    display: block;
  }
}

.country-popup__title {
  position: relative;
  padding: 11px;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    z-index: 6;
    top: 16px;
    right: 48px;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    border-radius: 50%;
  }

  &--open {
    color: #ffffff;
    background-color: #1d2e5b;
    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;
    background-position: right 17px center;

    &::before {
      display: none;
    }

    .country-step__select--3 {
      display: none;
    }
  }

  &--open ~ .country-step__del-btn {
    display: none;
  }
}

@media (max-width: $no-js) {
  .country-popup--no-js {
    .country-popup__open-btn {
      display: none;
    }

    .country-popup__box {
      position: static;
      display: block;
      min-height: 0;
      width: 100%;
    }
  }
}

@media (min-width: $tablet) {
  .country-popup {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .country-popup__title {
    width: 100%;
    margin: 0;
    padding: 24px 25px;
    max-width: 369px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1.9px;

    &::before {
      top: 25px;
      right: -35px;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
    }

    &--open {
      &::before {
        display: block;
      }
    }

    &--open ~ .country-step__del-btn {
      display: block;
    }
  }

  .country-popup__box {
    top: 70px;
    display: none;
    width: 106.5%;
    background-color: #ffffff;
    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

    &--open {
      display: flex;
      border-radius: 10px;
    }
  }

  .country-popup__country-litter {
    margin: 34px 0 36px 27px;
  }

  .country-popup__country-select {
    margin-left: auto;
  }
}

@media (min-width: $desktop) {
  .country-popup__title {
    max-width: 730px;

    &::before {
      right: -53px;
    }
  }

  .country-popup__box {
    width: 73%;
  }

  .country-popup__country-litter {
    margin: 34px 0 19px 27px;
  }
}
