.duration__label {
  display: flex;
  margin-bottom: 4px;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  &--gray {
    margin-left: auto;
    opacity: 0.3;
  }
}

.duration__input-box {
  display: flex;
  justify-content: space-between;
  width: 99%;
  margin: 0 auto 21px;
  border-radius: 4px;
  border: 1px solid #cbced9;
}

.duration__btn {
  width: 41px;
  height: 41px;
  padding: 1px 0 0 4px;
  border: none;
  background-color: transparent;
  background-image: url("../img/qty-minus-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  opacity: 0.3;

  &--plus {
    padding: 1px 5px 0 0;
    background-image: url("../img/qty-plus-mobile.svg");
  }
}

.duration__input {
  padding-top: 7px;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.37px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}

@media (min-width: $tablet) {
  .duration__label {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  .duration__input {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}
