.form-page__title {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px;
  padding-bottom: 0;
  padding-top: 85px;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 0 0 20px 20px;
  background-color: #161c35;

  &::after {
    content: "";
    width: 214px;
    height: 5px;
    margin-top: 15px;
    border-radius: 2px;
    background-color: #ff8d30;
  }
}

@media (min-width: $tablet) {
  .form-page__title {
    padding-top: 130px;
    font-size: 60px;
    line-height: 70px;

    &::after {
      width: 355px;
      height: 8px;
    }
  }
}
