.index-page__intro {
  padding: 25px;
}

.index-page__about {
  padding: 49px;
}

.index-page__countries {
  padding: 25px;
}

.index-page__travelmates {
  padding: 25px;
}

.index-page__rates {
  padding: 37px 26px 37px 50px;
}

.index-page__reg-form {
  padding: 25px;
}

.index-page__location {
  padding: 35px 25px;
}
