.intro {
  padding: 21px 25px;
  color: #ffffff;
  background-color: #161c35;
  background-image: url('../img/back-intro.jpg');
  background-repeat: no-repeat;
  background-position: 0 -73px;
}

.intro__title {
  max-width: 395px;
  margin: auto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.intro__contacts {
  display: flex;
  align-items: center;
  margin-top: 245px;
}

.intro__link {
  display: block;
  padding: 11px;
  background-color: $orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &--email {
    background-color: #ffbd30;
  }
}

.intro__btn-author {
  padding: 5px 39px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #ffd74b;
  border-radius: 20px;
}

.intro__quote-text {
  font-weight: 300;
}

.intro__quote-author {
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet) {
  .intro {
    padding: 21px 25px;
    color: #ffffff;
    background-color: #161c35;
    background-image: url('../img/back-intro2.jpg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .intro__title {
    font-size: 60px;
    line-height: 70px;
  }

  .intro__contacts {
    display: none;
  }
}

@media (min-width: $desktop) {
  .intro__contacts {
    position: absolute;
    top: 47px;
    right: 60px;
    display: flex;
    margin: 0;
  }
}
