.lvl {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;

  &--catalog {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }
}

.lvl__title {
  position: relative;
  margin: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -18px;
    width: 205%;
    height: 1px;
    background-color: #edeff6;
  }
}

.lvl__title-span {
  position: relative;
  z-index: 2;
  padding: 0 8px;
  background-color: #ffffff;
}

.lvl__clip1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  clip: rect(0, 60px, 60px, 30px);

  &--catalog {
    top: 25px;
    left: 5px;
    width: 45px;
    height: 45px;
    clip: rect(0, 45px, 45px, 22.5px);
  }
}

.lvl__slice1 {
  position: absolute;
  width: 60px;
  height: 60px;
  clip: rect(0, 30px, 60px, 0);
  border-radius: 50%;
  border: 3px solid #ff8d30;
  transform: rotate(180deg);
  zoom: 1;

  &--catalog {
    width: 45px;
    height: 45px;
    clip: rect(0, 22.5px, 45px, 0);
    border: 2px solid #ff8d30;
  }
}

.lvl__clip2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  clip: rect(0, 30px, 60px, 0);

  &--catalog {
    top: 25px;
    left: 5px;
    width: 45px;
    height: 45px;
    clip: rect(0, 22.5px, 45px, 0);
  }
}

.lvl__slice2 {
  position: absolute;
  width: 60px;
  height: 60px;
  clip: rect(0, 60px, 60px, 30px);
  border-radius: 50%;
  border: 3px solid #ff8d30;
  transform: rotate(180deg);
  zoom: 1;

  &--catalog {
    width: 45px;
    height: 45px;
    clip: rect(0, 45px, 45px, 22.5px);
    border: 2px solid #ff8d30;
  }
}

.lvl__status {
  @include center-flex;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  padding-bottom: 8px;
  padding-right: 1px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);

  &--catalog {
    top: 50px;
    left: 13px;
    color: #1d2e5b;
    line-height: 18px;
    background: transparent;
  }
}

.lvl__text {
  position: absolute;
  z-index: 2;
  top: 22px;
  left: 13.6px;
  padding: 2px 3.5px 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-top: 1px solid rgba(203, 206, 217, 0.3);

  &--catalog {
    display: none;
  }
}

@media (min-width: $tablet) {
  .lvl {
    &--catalog {
      width: 60px;
      height: 60px;
      margin-right: -1px;
      margin-top: 7px;
    }
  }

  .lvl__title {
    display: none;
  }

  .lvl__clip1 {
    &--catalog {
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      clip: rect(0, 60px, 60px, 30px);
    }
  }

  .lvl__slice1 {
    &--catalog {
      width: 60px;
      height: 60px;
      clip: rect(0, 30px, 60px, 0);
      border: 3px solid #ff8d30;
    }
  }

  .lvl__clip2 {
    &--catalog {
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      clip: rect(0, 30px, 60px, 0);
    }
  }

  .lvl__slice2 {
    &--catalog {
      width: 60px;
      height: 60px;
      clip: rect(0, 60px, 60px, 30px);
      border: 3px solid #ff8d30;
    }
  }

  .lvl__status {
    &--catalog {
      top: 2px;
      left: 2px;
    }
  }

  .lvl__text {
    &--catalog {
      display: block;
      opacity: 0.4;
      color: #444444;
      border-top: 1px solid #cbced9;
    }
  }
}
