.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__link {
  display: block;
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet) {
  .navigation__link {
    font-size: 60px;
    line-height: 71.01px;
    text-align: left;
    letter-spacing: -0.7px;
  }
}

@media (min-width: $desktop) {
  .navigation__list {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    align-items: center;

    &::before {
      content: "";
      display: block;
      width: 60px;
      height: 2px;
      border-radius: 1px;
      background-color: #ffffff;
    }
  }

  .navigation__link {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }
}
