.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation__link {
  display: block;
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
