.page-header {
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: #161c36;

  &--scroll {
    background-color: #ffffff;
  }
}

.page-header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 27px 25px;

  &--catalog {
    padding: 19px 25px;
  }
}

.page-header__logo {
  position: relative;
  z-index: 1;
  order: -1;
  display: block;
  width: 100px;
  height: 19px;

  &--blue {
    background-image: url("../img/logo-mobile-blue@1x.png");
    background-repeat: no-repeat;

    .page-header__logo-pic {
      display: none;
    }
  }
}

.page-header__menu-open {
  position: relative;
  z-index: 1;
  width: 25px;
  height: 11px;
  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;

  &--scroll {
    background-image: url("../img/menu-scroll.svg");
  }

  &--close {
    width: 19px;
    height: 19px;
    background-image: url("../img/menu-close.svg");
  }
}

.page-header__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  padding: 25px 25px 28px;
  padding-top: 117px;
  background-color: #ffffff;

  &--close {
    display: none;
  }

  &--open {
    display: flex;
    min-height: 568px;
  }
}

.page-header__navigation {
  margin-bottom: 50px;
}

.page-header__btn-author {
  display: block;
  padding: 10px 38.5px;
  margin-bottom: 51px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 25px;
  background-color: #ffd74b;
}

.page-header__social {
  margin-top: auto;
}

@media (max-width: $no-js) {
  .page-header--no-js {
    position: static;

    .page-header__content {
      padding: 0;
    }

    .page-header__logo {
      margin: 20px auto;
    }

    .page-header__menu-open {
      display: none;
    }

    .page-header__info {
      position: static;
      display: block;
      min-height: 0;
      width: 100%;
      padding-top: 25px;
    }

    .page-header__contacts {
      margin: 20px 0;
    }
  }
}

@media (min-width: $tablet) {
  .page-header {
    justify-content: flex-start;
    padding: 18px 15px 0;

    &--index {
      background-color: #182044;
    }
  }

  .page-header__content {
    &--catalog {
      padding: 27px 25px;
    }
  }

  .page-header__logo {
    width: 166px;
    height: 42px;
    background-image: url("../img/logo-tablet-white@1x.png");
  }

  .page-header__info--open ~ .page-header__logo {
    background-image: url("../img/logo-tablet-blue@1x.png");
  }

  .page-header__info {
    display: flex;
    justify-content: flex-start;
    padding: 41px 40px 0 97px;
    background-color: transparent;

    &--open {
      background-color: #ffffff;

      .page-header__navigation,
      .page-header__contacts,
      .page-header__social {
        display: block;
      }
    }
  }

  .page-header__menu-open {
    left: -48%;
  }

  .page-header__navigation {
    display: none;
    margin-top: 41px;
    margin-bottom: 129px;
  }

  .page-header__contacts {
    display: none;
    margin-bottom: 125px;
  }

  .page-header__social {
    display: none;
    align-self: flex-start;
  }

  .page-header__btn-author {
    order: -1;
    align-self: flex-end;
    padding: 10px 29px;
    font-size: 20px;
  }
}

@media (min-width: $desktop) {
  .page-header {
    background-color: #161c36;

    &--scroll {
      background-color: #ffffff;
    }
  }

  .page-header__content {
    padding: 30px 0 0;
  }

  .page-header__logo {
    width: 200px;
    height: 52px;
    margin-right: 40px;
    background-image: url("../img/logo-desktop-white@1x.png");
  }

  .page-header__menu-open {
    display: none;
  }

  .page-header__navigation {
    display: block;
    flex-grow: 1;
    margin: 0;
  }

  .page-header__info {
    position: static;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 0;
    min-height: auto;
  }

  .page-header__btn-author {
    order: 2;
    margin: 0;
    padding: 12px 25px 8px;
    min-width: 189px;
  }

  .page-header__contacts {
    display: block;
    margin: 0;
  }
}
