.page-footer {
  padding: 15px 25px;
  text-align: center;
  background-color: #ffffff;
}

@media (min-width: $tablet) {
  .page-footer__content {
    @include container;
    display: flex;
    justify-content: space-between;
  }
}
