.reg-form {
  border-radius: 0 0 30px 30px;
  background-color: #192144;
}

.reg-form__title {
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.reg-form__text {
  color: #ffffff;
  font-weight: 300;
}

.reg-form__link {
  color: #ffd74b;
  text-decoration: underline;
}

@media (min-width: $tablet) {
  .reg-form__title {
    font-size: 45px;
    line-height: 45px;
    text-align: center;
  }

  .reg-form__text {
    font-size: 28px;
    line-height: 33px;
    text-align: center;
  }
}

@media (min-width: $desktop) {
  .reg-form__text {
    max-width: 615px;
    margin: auto;
  }

  .reg-form__contacts {
    justify-content: space-between;
    max-width: 968px;
    margin: auto;
  }
}
