.social__list {
  @include list;
  @include center-flex;
}

.social__link {
  @include center-flex;
  width: 45px;
  height: 45px;
  padding-top: 2px;
  background-color: #ffd74b;
  border-radius: 50%;

  &--vk {
    padding-top: 4px;
  }

  &--inst {
    padding-left: 1px;
  }
}

@media (min-width: $tablet) {
  .social__link {
    width: 60px;
    height: 60px;
    padding-top: 0;

    &--vk {
      padding-top: 2px;
      padding-right: 2px;
    }

    &--inst {
      padding-left: 0;
    }
  }

  .social__svg {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--inst {
      width: 24px;
      height: 24px;
    }
  }
}
