.steps {
  background-color: #ffbd30;
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.steps__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.steps__item {
  padding: 31px;
  background-color: #ff8d30;
}

.steps__item--2 {
  background-color: #ffa530;
}

.steps__item--3 {
  background-color: #ffbd30;
}

.steps__item--4 {
  background-color: #ffd74b;
}
