.transport {
  @include list;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}

.transport__item {
  margin: 0 2.8%;
  opacity: 0.15;

  &--active {
    opacity: 1;
  }
}

.transport__svg {
  fill: #1d2e5b;
}
