.transport-card__title {
  position: relative;
  margin: 0;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -18px;
    width: 205%;
    height: 1px;
    background-color: #edeff6;
  }
}

.transport-card__title-span {
  position: relative;
  z-index: 2;
  padding: 0 8px;
  background-color: #ffffff;
}

.transport-card__list {
  @include list;
  padding: 14px 5px;
  display: flex;
}

.transport-card__item {
  width: 33px;
  height: 32px;
  padding-top: 8px;
  text-align: center;
  background-color: #edeff6;
  border-radius: 50%;
}

.travelmates-card__svg {
  opacity: 0.15;

  &--active {
    opacity: 1;
  }
}

@media (min-width: $tablet) {
  .transport-card__item {
    background-color: #ffffff;
  }

  .travelmates-card__svg {
    height: 21px;

    &--plane {
      width: 19px;
    }

    &--bus {
      width: 17px;
    }

    &--bike {
      width: 24px;
    }

    &--run {
      width: 20px;
    }
  }
}
