.travelmates {
  position: relative;
  z-index: -1;
  margin-top: -25px;
  padding: 64px 25px;
  background-color: #192144;
  color: #ffffff;
  background-image: url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-origin: content-box;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 63px;
    left: -19px;
    width: 132px;
    height: 132px;
    border-radius: 20px;
    background-color: #141b3b;
  }
}

.travelmates__section-description {
  padding: 13px 25px;
  margin-bottom: 27px;
}

.travelmates__main-title {
  color: $orange;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
}

.travelmates__main-text {
  font-weight: 300;

  &--bold {
    margin-top: 21px;
    font-weight: 700;
  }
}

.travelmates__list {
  @include list;
}

.travelmates__box1 {
  background-color: #192144;
}

.travelmates__item {
  position: relative;
  background-color: #ffffff;
}

.travelmates__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.travelmates__level {
  position: absolute;
  top: 15px;
  left: 15px;
}

.travelmates__online {
  width: 5px;
  margin-right: 10px;
  border: 3px solid #f97676;
  border-radius: 3px;
}

.travelmates__name-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.travelmates__name {
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.travelmates__hashtags {
  max-width: 180px;
  margin: auto;
  color: #444444;
  line-height: 18px;
  text-align: center;
}

@media (min-width: $tablet) {
  .travelmates__content {
    padding: 75px;
  }

  .travelmates__main-title {
    font-size: 45px;
    line-height: 45px;
  }

  .travelmates__main-text {
    font-size: 28px;
    line-height: 33px;

    &--bold {
      font-size: 21px;
      line-height: 25px;
    }
  }

  .travelmates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .travelmates__item {
    flex-basis: 198px;
    border-radius: 20px;
  }

  .travelmates__btn {
    margin-top: 80px;
  }
}

@media (min-width: $desktop) {
  .travelmates__content {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: auto;
  }

  .travelmates__section-description {
    flex-grow: 1;
    flex-basis: 500px;
    padding: 0 70px;
  }

  .travelmates__list {
    flex-basis: 630px;
    flex-grow: 1;
  }

  .travelmates__btn {
    flex-basis: 280px;
    margin-top: -10px;
    margin-left: 65px;
  }
}
