.travelmates-card__list {
  @include list;
}

.travelmates-card__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 20px 22px 18px;
  margin: 10px 0;
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
}

.travelmates-card__img {
  margin-right: 16px;
  border-radius: 50%;
  margin-bottom: -40px;
}

.travelmates-card__content {
  display: flex;
  flex-wrap: wrap;
}

.travelmates-card__like-box {
  @include center-flex;
  flex-basis: 100%;
  margin-left: 49px;
  margin-top: -43px;
}

.travelmates-card__like-btn {
  @include center-flex;
  margin-right: 6px;
  min-width: 31px;
  height: 31px;
  background-color: #edeff6;
  border: none;
  border-radius: 50%;

  &--active {
    background-color: #f9eaea;

    .travelmates-card__like-svg {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}

.travelmates-card__like-active {
  display: none;
}

.travelmates-card__name {
  position: relative;
  top: -37px;
  left: 86px;
  flex-basis: 62%;
  padding-right: 40px;
  margin: 0;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 20%;
    right: 0;
    width: 5px;
    height: 5px;
    background-color: #f97676;
    border-radius: 4px;
  }
}

.travelmates-card__likes {
  margin: 0;
  padding-top: 3px;
  flex-basis: 100%;
  color: #161c35;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.travelmates-card__online {
  margin-left: auto;
  min-width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #f97676;
}

.travelmates-card__hashtags {
  padding: 0 46px 0 7px;
  margin-top: 8px;
  margin-bottom: 13px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.travelmates-card__like-country {
  width: 100%;
  margin-bottom: 5px;

  &--2 {
    margin-bottom: 10px;
  }

  &--3 {
    margin-bottom: 7px;
  }

  &--4 {
    margin-bottom: 11px;
  }
}

.travelmates-card__box-levtr {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  margin-bottom: 6px;
}

.travelmates-card__level {
  margin-left: auto;
}

.travelmates-card__btn-invite {
  width: 100%;
  padding: 7px 25px 3px;
  margin-left: 2px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 20px;
  background-color: #ffd74b;
}

.travelmates-card__btn-more {
  display: flex;
  align-items: center;
  margin: 18px 0;
  padding: 0 30px 0 60px;
  color: #1d2e5b;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.transport-card__btn-span {
  margin-left: 15px;
  padding-top: 2px;
}

.travelmates-card__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
}

.travelmates-card__btn-pagination {
  width: 50%;
  height: 50px;
  border: none;
  background-color: transparent;
  background-image: url("../img/triangle-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;

  &--right {
    background-image: url("../img/triangle-arrow-right.svg");
    border-left: 1px solid #edeff6;
  }
}

.travelmates-card__pagination-list {
  display: none;
}

@media (min-width: $tablet) {
  .travelmates-card__item {
    padding: 33px 20px 11px 35px;
    margin: 40px 0;
  }

  .travelmates-card__img {
    display: block;
    flex-basis: 33%;
    padding-top: 2px;
    width: 190px;
    border-radius: 20px;
  }

  .travelmates-card__content {
    align-items: flex-start;
    flex-basis: 66.5%;
  }

  .travelmates-card__name {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-basis: 75%;
    margin-left: 17px;
    padding-right: 0;
    max-width: none;
    font-size: 30px;
    line-height: 30px;

    &::after {
      position: static;
      display: block;
      margin-left: 22px;
      width: 7px;
      height: 7px;
    }
  }

  .travelmates-card__online {
    margin-left: 23px;
    height: 7px;
    min-width: 7px;
  }

  .travelmates-card__hashtags {
    order: 2;
    flex-basis: 100%;
    margin: 18px 58px 45px 13px;
    padding: 0 90px 0 7px;
    font-size: 20px;
    line-height: 24px;
  }

  .travelmates-card__box-levtr {
    order: 1;
    flex-basis: 11%;
    flex-direction: column;
    align-items: center;
    margin-bottom: -165px;
    margin-left: auto;
  }

  .travelmates-card__level {
    margin-top: 6px;
    margin-left: 0;
  }

  .travelmates-card__like-box {
    order: 3;
    margin: 0;
    flex-basis: 30%;
  }

  .travelmates-card__like-country {
    order: 4;
    flex-basis: 120%;
    margin-top: 23px;
    margin-bottom: 5px;
    margin-left: -206px;
  }

  .travelmates-card__btn-invite {
    flex-basis: 148px;
    order: 2;
    margin-left: 14px;
    padding: 12px 22px 8px 20px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 25px;
  }

  .travelmates-card__like-btn {
    min-width: 50px;
    height: 50px;
  }

  .travelmates-card__like-svg {
    width: 20px;
    height: 17px;
  }

  .travelmates-card__likes {
    font-size: 20px;
    line-height: 30px;
  }

  .travelmates-card__btn-more {
    justify-content: center;
    margin: 41px 0 47px;
    padding: 0 68px 0 60px;
    font-size: 20px;
  }

  .transport-card__btn-span {
    margin-left: 25px;
    padding-top: 5px;
  }

  .travelmates-card__btn-svg {
    width: 27px;
    height: 27px;
  }

  .travelmates-card__pagination {
    padding: 26px 19px 24px 28px;
  }

  .travelmates-card__btn-pagination {
    width: 6.6%;
  }

  .travelmates-card__pagination-list {
    @include list;
    display: flex;
    margin-right: auto;
  }

  .travelmates-card__pagination-item {
    @include center-flex;
    width: 50px;
    height: 50px;
    color: #161c35;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    &--active {
      border-radius: 50%;
      background-color: #ffd74b;
    }
  }
}

@media (min-width: $desktop) {
  .travelmates-card__content {
    padding: 47px 34px 0;
  }

  .travelmates-card__item {
    padding: 0;
  }

  .travelmates-card__img {
    display: block;
    padding: 0;
    margin: 0;
    width: 285px;
    height: 285px;
    border-radius: 0;
  }

  .travelmates-card__name {
    margin-left: 0;
    flex-basis: 60%;

    &::after {
      order: -1;
      margin-left: 0;
      margin-right: 18px;
    }
  }

  .travelmates-card__like-country {
    order: 0;
    flex-basis: 35%;
    margin: 0;
    padding: 2px 0;
    margin-left: auto;
    margin-bottom: -61px;
  }

  .like-country__list {
    flex-direction: column;
    padding: 0;
  }

  .like-country__title {
    display: none;
  }
}
