.travelmates {
  padding: 25px;
  background-color: #192144;
  color: #ffffff;
}

.travelmates__main-title {
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.travelmates__main-text {
  font-weight: 300;
}

.travelmates__main-text--bold {
  font-weight: 700;
}

.travelmates__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
